* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10pt;
  background-color: rgba(214, 201, 201, 0.601);
}
.graphLink {
  position: absolute;
  right: 860px;
  text-decoration: none;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgb(8, 57, 181);
  border-radius: 10px;
  padding: 1%;
}
#gLink {
  background-color: rgb(8, 57, 181);
  text-decoration: none;
  color: rgb(255, 255, 255);
}
#delay {
  background-color: #17b9a9;
  padding: 2%;
  border-radius: 4px;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
input {
  width: 100px;
}
.delayBox {
  display: flex;
  flex-direction: column;
}
form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 6%;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 1%;
}
.block {
  align-items: flex-start;
  width: 2%;
  background-color: #17b9a9;
  position: absolute;
  bottom: 0px;
  transition: 0.2s all ease;
}
#generate,
#go {
  padding: 0.5%;
  border-radius: 5px;
  justify-content: center;
  position: relative;
  text-align: center;
  margin: auto;
  width: 150%;
}
.block_id {
  position: absolute;
  color: black;
  /*margin-top: -20px;*/
  display: none;
  width: 100%;
  text-align: center;
  font-size: 30%;
  background: none;
}
select,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: solid black 1px;
}
select {
  background-color: rgb(120, 120, 128);
}

.box {
  display: grid;
  grid-template-columns: repeat(50, 23fr);
  background-color: rgb(228, 170, 104);
  width: 100%;
  height: 460px;
  margin-top: 50px;
}
.preferences {
  position: relative;
  left: 25px;
}
.cell {
  width: 19px;
  height: 19px;
  background-color: rgb(11, 233, 152);
}
.cell:hover {
  background-color: rgb(23, 67, 210);
}
.digits {
  font-family: "Courier";
  font-size: 2em;
  background-color: rgb(65, 67, 67);
  color: rgb(255, 255, 255);
  font-weight: bolder;
}
.timer {
  background-color: rgb(65, 67, 67);
  border-radius: 20px;
  padding: 10px;
}
